<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="neunix.pagevibe">

    <!-- Existing permissions -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>

    <!-- New permissions -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- Android 13+ notifications permission -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>


    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.PageVibe"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:supportsRtl="true">


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>


            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="application/pdf"/>
            </intent-filter>

        </activity>


        <activity
            android:name=".PdfActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
            
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>


        <activity
            android:name=".StatsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>


        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".LicenseActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>


        <!-- Notification Settings -->
        <activity
            android:name=".NotificationSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>


        <!-- FileProvider for sharing PDFs -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>

        </provider>


        <!-- Alarm-driven local notifications -->

        <receiver
            android:name=".DailyQuoteAlarmReceiver"
            android:exported="false"/>

        <receiver
            android:name=".SmartReadingReminderReceiver"
            android:exported="false"/>

        <receiver
            android:name=".DailyEvaluationReceiver"
            android:exported="false"/>


        <!-- Boot / timezone / update rescheduler -->

        <receiver
            android:name=".BootCompletedReceiver"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>

                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>

            </intent-filter>

        </receiver>


        <!-- Firebase Cloud Messaging -->

        <service
            android:name=".PageVibeFirebaseMessagingService"
            android:exported="false">

            <intent-filter>

                <action android:name="com.google.firebase.MESSAGING_EVENT"/>

            </intent-filter>

        </service>


        <!-- Firebase notification defaults -->

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification"/>


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/fcm_default_channel_id"/>


    </application>

</manifest>